body{
    background-color: #f7f7f7;
}

/* =============LAYOUT================= */
.wrapper{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/* =============TOPNAV================= */

.TopNav{
    display: flex;
    justify-content: center;
}

/* =============LIST ITEMS================= */
.ListItems{

}

/* =============LIST ITEM================= */
.ListItem{
    
}